@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavivanar&display=swap");
@import "../stylesheets/global.scss";

.contact-section {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
}
.contact-section {
  a {
    font-family: $font;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(31, 30, 30);
  }
  a:hover {
    color: $pink;
  }
  h1 {
    color: $pink;
    font-size: $h1;
    font-family: $title-font;
  }
  a.btn.btn-primary {
    font-family: "Kavivanar";
    font-size: 1rem;
    background-color: $pink;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    height: 40px;
    width: 40%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transition: 0.2s;
      background: $yellow;
    }
  }

  .social-media {
    margin-bottom: 40px;
  }
  .social-media .git {
    margin-left: 10px;
  }

  .social-svg-mask .git {
    fill: rgb(46, 46, 46);
  }
}

@media screen and (min-width: 1023px) {
  .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .contact-section a {
    font-size: $p;
  }
  .contact-section h1 {
    font-size: 3rem;
  }
}
