@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Roboto&display=swap");

.portfolio-section {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  margin-right: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.portfolio-section h1 {
  font-family: "Arvo";
  margin-bottom: 25px;
  margin-top: 30px;
  color: #2c5606;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin-left: 10px;
  margin-top: 10px;
}

.card-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-left: 10px;
}

.portfolio-section img {
  width: 42vh;
  margin-left: 4px;
  margin-top: 3px;
}

a.btn.btn-primary {
  font-family: "Arvo";
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  height: 40px;
  width: 40%;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.btn.btn-primary:hover {
  transition: 0.2s;
  background: #2c5606;
}

.card1 {
  border-color: #2c5606;
  border-style: solid;
  border-width: 0.1rem;
}

.sissy-button.btn.btn-primary {
  background-color: #b06d81;
}

.card2 {
  border-color: #2c5606;
  border-style: solid;
  border-width: 0.1rem;
  margin-bottom: 2px;
}

.groenhartig-button.btn.btn-primary {
  background-color: #6e7048;
}

.card3 {
  border-color: #2c5606;
  border-style: solid;
  border-width: 0.1rem;
}

.emotus-button.btn.btn-primary {
  background-color: #ccc5b9;
}

.card4 {
  border-color: #2c5606;
  border-style: solid;
  margin-bottom: 2px;
  border-width: 0.1rem;
}

.birthday-button.btn.btn-primary {
  background-color: #d9bbb1;
}

.card5 {
  border-color: #2c5606;
  border-style: solid;
  border-width: 0.1rem;
}

.research-button.btn.btn-primary {
  background-color: #d5a129;
}

.card6 {
  border-color: #2c5606;
  border-style: solid;
  border-width: 0.1rem;
}

.eva-button.btn.btn-primary {
  background-color: #47802b;
}

.sofa-button.btn.btn-primary {
  background-color: #b6351f;
}

.act-button.btn.btn-primary {
  background-color: #5ad1db;
}

.projects p {
  font-size: 1.2rem;
}

.previous-experience h1 {
  font-family: "Arvo";
  margin-bottom: 5px;
  margin-top: 30px;
  color: #b06d81;
}

li {
  font-size: 1rem;
}

/* Responsive */
@media screen and (min-width: 1025px) {
  .portfolio-section img {
    width: 98%;
    height: 40%;
    margin-left: 3px;
  }

  h1 {
    display: flex;
    justify-content: left;
    font-size: 2.2rem;
    margin-top: 60px;
    margin-top: 25px;
  }

  .card-text {
    font-size: 1.2rem;
  }
  .projects p {
    font-size: 1.4rem;
  }

  .previous-experience li {
    font-size: 1.4rem;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
  }

  .card1 {
    width: 28%;
    margin: 0 20px;
  }

  .card2 {
    width: 28%;
    margin: 0 20px;
  }

  .card3 {
    width: 28%;
    margin-right: 5px;
  }

  .card4 {
    width: 28%;
  }

  .card5 {
    width: 28%;
    margin: 0 20px;
  }

  .card6 {
    width: 28%;
    margin-right: 5px;
  }

  .projects p {
    display: flex;
    justify-content: left;
  }

  .previous-experience {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  .previous-experience1 li {
    margin-left: 20px;
  }
  .previous-experience2 li {
    margin-left: 50px;
  }
}

/* from here new here */
@media screen and (min-width: 985px) and (max-width: 1024px) {
  .portfolio-section img {
    width: 95%;
    height: 35%;
    margin-left: 5px;
  }

  .card1 {
    width: 44%;
    margin-left: 5px;
  }
  .card2 {
    width: 44%;
    margin: 0 10px;
  }
  .card3 {
    width: 44%;
  }

  .card4 {
    width: 44%;
  }

  .card5 {
    width: 44%;
    margin-right: 5px;
    margin-left: 5px;
  }
  .card6 {
    width: 44%;
  }
  .card-text {
    font-size: 0.9rem;
  }
  .card-title {
    font-size: 1rem;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 984px) {
  .portfolio-section img {
    width: 30vh;
    margin-left: 5px;
  }

  .row2 {
    display: flex;
    flex-direction: column;
  }

  .card1 {
    width: 44%;
  }
  .card2 {
    width: 44%;
    margin-left: 10px;
  }
  .card3 {
    width: 44%;
    margin-right: 5px;
    margin-left: 5px;
  }

  .card4 {
    width: 44%;
  }

  .card5 {
    width: 44%;
  }
  .card6 {
    width: 44%;
    margin-right: 5px;
  }
  .card-text {
    font-size: 0.7rem;
  }
  li {
    font-size: 0.8rem;
  }
  .card-title {
    font-size: 0.9rem;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
  }
}

@media screen and (min-width: 735px) and (max-width: 767px) {
  .portfolio-section img {
    width: 98vh;
    margin-left: 3px;
  }

  .card1 {
    width: 53%;
    margin-top: 10px;
  }

  .card2 {
    width: 53%;
    margin-top: 10px;
  }

  .card3 {
    width: 53%;
    margin-top: 10px;
  }

  .card4 {
    width: 53%;
    margin-top: 10px;
  }

  .card5 {
    width: 53%;
    margin-top: 10px;
  }
  .card6 {
    width: 53%;
  }
}

@media screen and (min-width: 733px) and (max-width: 734px) {
  .portfolio-section img {
    width: 105vh;
    margin-left: 2.5px;
  }

  .card1 {
    width: 61%;
    margin-top: 10px;
  }

  .card2 {
    width: 61%;
    margin-top: 10px;
  }

  .card3 {
    width: 61%;
    margin-top: 10px;
  }

  .card4 {
    width: 61%;
    margin-top: 10px;
  }

  .card5 {
    width: 61%;
    margin-top: 10px;
  }
  .card6 {
    width: 61%;
  }
}

@media screen and (min-width: 669px) and (max-width: 732px) {
  .portfolio-section img {
    width: 94vh;
    margin-left: 2px;
  }

  .card1 {
    width: 61%;
    margin-top: 10px;
  }

  .card2 {
    width: 61%;
    margin-top: 10px;
  }

  .card3 {
    width: 61%;
    margin-top: 10px;
  }

  .card4 {
    width: 61%;
    margin-top: 10px;
  }

  .card5 {
    width: 61%;
    margin-top: 10px;
  }
  .card6 {
    width: 61%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 649px) and (max-width: 668px) {
  .portfolio-section img {
    width: 140vh;
    margin-left: 2px;
  }

  .card1 {
    width: 75%;
    margin-top: 10px;
  }

  .card2 {
    width: 75%;
    margin-top: 10px;
  }

  .card3 {
    width: 75%;
    margin-top: 10px;
  }

  .card4 {
    width: 75%;
    margin-top: 10px;
  }

  .card5 {
    width: 75%;
    margin-top: 10px;
  }

  .card6 {
    width: 75%;
  }
}

@media screen and (min-width: 415px) and (max-width: 648px) {
  .portfolio-section img {
    width: 100vh;
    margin-left: 2px;
    margin-top: 3px;
  }

  .card1 {
    border-color: #2c5606;
    border-style: solid;
  }

  .card2 {
    border-color: #2c5606;
    border-style: solid;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .card3 {
    border-color: #2c5606;
    border-style: solid;
    width: 65%;
  }
}

@media screen and (min-width: 414px) and (max-width: 415px) {
  .portfolio-section img {
    width: 48vh;
    margin-left: 5px;
  }
  .card1 {
    margin-top: 10px;
  }

  .card2 {
    margin-top: 10px;
  }

  .card3 {
    margin-top: 10px;
  }

  .card4 {
    margin-top: 10px;
  }

  .card5 {
    margin-top: 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
  .portfolio-section img {
    width: 42vh;
  }

  .portfolio-section h1 {
    font-size: 1.8rem;
  }

  .card1 {
    margin-top: 10px;
  }

  .card2 {
    margin-top: 10px;
  }

  .card3 {
    margin-top: 10px;
  }

  .card4 {
    margin-top: 10px;
  }

  .card5 {
    margin-top: 10px;
  }
  .card6 {
    margin-top: 10px;
  }
}

@media screen and (min-width: 200px) and (max-width: 374px) {
  .portfolio-section h1 {
    font-size: 1.6rem;
  }

  .portfolio-section img {
    width: 28vh;
  }

  .card1 {
    margin-top: 10px;
  }

  .card2 {
    margin-top: 10px;
  }

  .card3 {
    margin-top: 10px;
  }

  .card4 {
    margin-top: 10px;
  }

  .card5 {
    margin-top: 10px;
  }
  .card6 {
    margin-top: 10px;
  }
}
